* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

header {
    background-color: #0D325A;
    height: 500px;
}

.header-top {
    height: 100px;
}

.header-bottom {
    background-image: url('img/business-men.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.logo-container {
    width: 15%;
    float: left;
}

#logo {
    padding-top: calc((100px - 38px) / 2);
}

.menu-container {
    width: 50%;
    float: left;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

#main-menu li a:hover {
    color: #f8b71c;
}

.cta-container {
    width: 35%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta-container a {
    margin-left: 6px;
}

.cta-container a.link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}

#info, #info2 {
    text-align: center;
}

#info {
    background-color: #f9f9f9;
    padding: 40px 0px;
}

#info h4 {
    margin-bottom: 20px;
    color: #503a3c;
    font-size: 24px;
}

#info p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

#info2 {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

#left-column, #mid-column, #right-column {
    vertical-align: top;
    display: inline-block;
    width: 33%;
    margin: 25px 0px;
}

#info2 img {
    height: 160px;
}

#info2 hr {
    margin: auto;
    opacity: 0.3;
    width: 32px;
    border-top: 2px solid;
}

#info2 .textbox {
    display: inline-block;
    width: 79%;
}

#info2 h6 {
    color: #7fb802;
    font-size: 23px;
    margin: 25px 0px 30px 0px;
}

#info2 p {
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    margin-top: 25px;
    line-height: 25px;
}

#climb {
    margin: 0px auto;
}

#climb::after {
    content: "";
    display: table;
    clear: both;
}

#climb-pic, #climb-desc {
    float: left;
    margin: 40px 0px;
}

#climb-pic {
    width: 50%;
}

#climb-desc {
    width: 34%;
}

#climb-pic img {
    height: 354px;
}

#climb h2 {
    color: #4a4a4a;
    font-size: 30px;
    line-height: 40px;
}

#climb p {
    margin: 20px 0px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
}

#climb a {
    color: rgba(0, 126, 255, 0.4);
}

#plan {
    background-color: #f9f9f9;
}

#plan::after {
    content: "";
    display: table;
    clear: both;
}

#plan-text, #plan-select {
    float: left;
    margin: 46px 0px;
}

#plan-text {
    width: 50%;
}

#plan-select {
    width: 45%;
}

#plan h3 {
    text-align: center;
    font-size: 30px;
}

#plan label {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.3);
    margin-right: 45px;
}

#plan select {
    margin-right: 20px;
}

#lesson {
    background-color: #0d325a;
    position: relative;
}

#lesson-pic, #lesson-desc {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}

#lesson-desc {
    text-align: left;
    line-height: 26px;
}

#lesson h3 {
    font-size: 30px;
    color: #ffffff;
}

#keyword {
    color: #f8b71c;
}

#lesson p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0.5;
    margin-top: 20px;
}

#lesson a{
    color: rgba(0, 200, 255, 0.4);
}

#lesson img {
    height: 490px;
}

#btn-help {
    text-align: center;
    line-height: 18px;
    background-color: #7bbc00;
    color: #ffffff;
    display: block;
    position: fixed;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    bottom: 0;
    right: 200px;
    z-index: 10;
}

#btn-help:hover {
    height: 70px;
}
