* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

header {
    background-color: #0D325A;
    height: 500px;
}

.header-top {
    height: 100px;
}

.header-bottom {
    background-image: url('img/business-men.png');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

.logo-container {
    width: 15%;
    float: left;
}

#logo {
    padding-top: calc((100px - 38px) / 2);
}

.menu-container {
    width: 50%;
    float: left;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

#main-menu li a:hover {
    color: #f8b71c;
}

.cta-container {
    width: 35%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta-container a {
    margin-left: 6px;
}

.cta-container a.link {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
    line-height: normal;
}

#info, #info2 {
    text-align: center;
}

#info {
    background-color: #f9f9f9;
    padding: 40px 0px;
    height: 150px;
}

#info h4 {
    margin-bottom: 20px;
    color: #503a3c;
    font-size: 24px;
}

#info p {
    color: #a499a4;
    font-size: 18px;
    line-height: normal;
}

#info2 {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

#info2 > * {
    vertical-align: top;
}
#left-column, #mid-column, #right-column {
    display: inline-block;
    margin: 20px 0px 40px 0px;
    width: 25.5%;
}

#info2 img {
    height: 160px;
}

#info2 hr {
    margin: auto;
    opacity: 0.3;
    width: 32px;
    border-top: 2px solid;
}

#info2 .textbox {
    display: inline-block;
    width: 70%;
}

#info2 h6 {
    color: #7fb802;
    font-size: 23px;
    margin: 25px 0px 30px 0px;
    line-height: normal;
}

#info2 p {
    color: #b499a5;
    font-size: 15px;
    margin-top: 25px;
    line-height: 25px;
}

#btn-help {
    text-align: center;
    line-height: 18px;
    background-color: #7bbc00;
    color: #ffffff;
    display: block;
    position: fixed;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    bottom: 0;
    right: 200px;
    z-index: 10;
}

#btn-help:hover {
    height: 70px;
}
